# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
generated_plugin_registrant.dart

# Android
android/.gradle/
android/.idea/
android/local.properties
android/*.iml
*.jks

# VS Code
.vscode/

# IntelliJ
*.iml
.idea/
*.ipr
*.iws

# macOS system files
.DS_Store

# Logs
*.log

# Обновляемые зависимости
pubspec.lock

# Неиспользуемые платформы
ios/
macos/
windows/
linux/
web/

